.accordion {
    width: 700px;
    position: relative;
    top: 100px;
    left: 400px;
    background-color: #010101;

}
.card {
    background-color: #010101;
    border: 1px solid #e0aa3e;
    color: whitesmoke;
    text-align: center;
    
}
   .btn-link {
       color: #e0aa3e;
   }

   .btn:hover{
       border: 1px solid #e0aa3e;
       color: #e0aa3e;
   }
   
   .payani {
    width: 100%;
    height: 125px;
    background-color: #010101;
    margin-top: 271px;
    position: relative;
    bottom: 0px;
    
}